openai
python-dotenv
requests

SpeechRecognition
PyAudio
sounddevice
piper-tts
pyttsx3
vosk
openwakeword
pvporcupine

PyAutoGUI
pyperclip
PyGetWindow
MouseInfo
PyMsgBox
PyScreeze
pytweening

numpy
scipy
scikit-learn
joblib

pydantic